.nav{
    display: flex;
    justify-content: space-between;
}


.nav-links{
    display: flex;
    justify-content: space-between;
    flex-basis:10%;
    flex-shrink: 1;
   
}

.nav-links div{
    justify-content: space-between;
    margin: 0 10px;
}

.link{
    text-decoration: none;
    color: #3c3c46;
}

.active{
    color: #808080;;
}

.logo{
    width: 50%;
}
